@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  font-family: 'Open Sans', sans-serif;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  display: grid;
  place-items: center;
}

.title {
  margin: 20px 0;
}

.main {
  border: 8px solid #5b4812;
  border-radius: 24px;
  overflow: hidden;
}

.name {
  display: flex;
  font-size: 32px;
  font-weight: 700;
  padding: 8px 16px;
  color:#5b4812;
  background-color: rgb(255, 205, 78);
}

.name > span {
  color: #5b4812;
}

.name-input {
  font-size: 24px;
  font-weight: 700;
  color: #5b4812;
  flex-grow: 1;
  border: none;
  margin: 0px 12px;
  outline: none;
  background-color: rgb(255, 205, 78);
}

.message-container  {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 249, 127);
  width: 500px;
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.message-left, .message-right {
  list-style: none;
  padding: 8px 12px;
  margin: 12px;
  max-width: 250px;
  font-size: 18px;
  word-wrap: break-word;
}

.message-left {
  border-radius: 20px 20px 20px 0px;
  align-self: flex-start;
  background-color: rgb(255, 255, 255);
  box-shadow: -2px 2px 4px #5b4812;
}

.message-right {
  border-radius: 20px 20px 0px 20px;
  align-self: flex-end;
  background-color: rgb(59, 58, 58);
  box-shadow: 2px 2px 4px #5b4812;
  color: azure;
}

.message-left > p > span, .message-right > p > span {
  display: block;
  font-style: italic;
  font-size: 12px;
  margin-top: 4px;
}

.feedback {
  font-style: italic;
  font-size: 14px;
  padding: 0px 16px 16px 16px;
  color: black;
  text-align: center;
}

.message-form {
  display: flex;
  justify-content: space-between;
  width:500px
}

.message-input {
  flex-grow: 1;
  height: 48px;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 0 12px;
  background-color: #fff;
}

.send-button {
  height: 48px;
  font-size: 16px;
  border: none;
  padding: 0px 20px;
  outline: none;
  color:darkred;
  background-color: #f0bf37;
  cursor: pointer;
}

.v-divider {
  height: 48px;
  width: 2px;
  background-color: #f6f6f6;
}

.clients-total {
  margin: 20px 0px;
  color: #5b4812;
}